.banner {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  background-color: var(--clr-halka-red);
}

.banner__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
}

.banner__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__image > img {
  max-width: 70%;
  height: auto;
}
.banner__title {
  font-weight: 800;
  font-size: 2.3rem;
  font-size: clamp(2.3rem, 1.7599999999999998rem + 2.7vw, 5rem);
}
