* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background: none;
  border: none;
  font: inherit;
}

body {
  max-width: 1440px;
  margin-inline: auto;
}

.hide {
  display: none;
}
/* utilities for common styles */
.section-title {
  font-size: 1.7rem;
  font: 700
    clamp(1.7rem, 1.4773999999999998rem + 1.1130000000000002vw, 2.813rem)
    var(--font-inter);
  text-align: center;
}

.section-description {
  font-size: 1rem;
  font: 400 clamp(1rem, 0.975rem + 0.125vw, 1.125rem) var(--font-poppins);
  color: #707070;
  line-height: 1.5rem;
  margin-block: 0.5rem;
  text-align: center;
  max-width: 100%;
  margin-inline: auto;
}

.common-button {
  font-size: 1rem;
  font: 600 clamp(1rem, 0.95rem + 0.25vw, 1.25rem) var(--font-inter);
  color: var(--clr-white);
  border-radius: 5px;
  background: #ff5959;
  padding: 0.8rem 1rem;
  cursor: pointer;
}

/* media queries */

/* small devices  */
@media screen and (576px < width <= 768px) {
  .section-description {
    max-width: 70%;
  }

  main {
    padding-inline: 25px;
  }
}

/* medium devices  */
@media screen and (768px < width <= 992px) {
  .section-description {
    max-width: 70%;
  }
  .common-button {
    padding: 1rem 0.75rem;
  }

  main {
    padding-inline: 50px;
  }
}

/* large devices  */
@media screen and (992px < width <= 1200px) {
  .section-description {
    max-width: 60%;
  }
  .common-button {
    padding: 1rem 0.75rem;
  }

  main {
    padding-inline: 70px;
  }
}

/* xl devices  */
@media screen and (1200px < width <= 1400px) {
  .section-description {
    max-width: 50%;
  }
  .common-button {
    padding: 1rem 0.75rem;
  }

  main {
    padding-inline: 100px;
  }
}

/* * xxl large devices */
@media screen and (width > 1400px) {
  .section-description {
    max-width: 50%;
  }
  .common-button {
    padding: 1rem 0.75rem;
  }
  main {
    padding-inline: 157px;
  }
}
