@media screen and (768px <= width < 992px) {
  /* * banner section */
  .banner {
    padding: 3rem 3rem;
  }

  .banner__title {
    max-width: 50%;
  }

  .banner__description {
    max-width: 45%;
  }

  .banner__image-container {
    width: 40%;
    right: 0;
  }

  .banner__image-back-effect {
    max-width: 50%;
  }

  /* * donate today section */
  .donate-today {
    margin-block: 4rem;
  }
}
