@media screen and (min-width: 992px) {
  .banner__content {
    padding-bottom: 3rem;
  }

  .banner__image {
    align-items: end;
  }

  /* featured sections */

  .featured {
    margin-bottom: 4rem;
  }

  .featured__description {
    max-width: 60%;
  }

  .featured__delivery-items {
    padding-block: 4rem;
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  /* discount section */

  .discount {
    padding-bottom: 3.6rem;
    flex-direction: row;
    align-items: center;
    margin-block: 6rem;
    gap: 0;
  }

  .discount__content {
    flex: 1;
  }

  .discount__image-container {
    flex: 1;
  }

  /* discount section */

  .instagram {
    margin-block: 5.6rem;
  }

  .instagram__items {
    grid-template-columns: repeat(4, 1fr);
  }
}
