@media screen and (min-width: 768px) {
  /* banner sections */
  .banner {
    gap: 3rem;
  }

  .banner__image {
    flex: 0.5;
  }

  /* featured section*/

  .featured__image-container {
    height: 400px;
  }

  .featured__delivery-items {
    gap: 3rem;
  }

  .featured__description {
    max-width: 70%;
  }

  /* discount section  */

  .discount {
    margin-block: 5rem;
  }

  /* instagram section */

  .instagram {
    margin-block: 4.2rem;
  }

  .instagram__items {
    grid-template-columns: repeat(2, 342px);
    justify-content: center;
    column-gap: 2rem;
  }

  .instagram__items > img {
    width: 100%;
  }
}
