@media screen and (min-width: 1200px) {
  .banner__image {
    flex: 0.5;
  }

  .banner__image > img {
    max-width: 100%;
  }

  /* featured section */
  .featured {
    margin-bottom: 7rem;
    padding-right: 7rem;
  }
  .featured__description {
    max-width: 50%;
  }

  .featured__delivery-items {
    justify-content: space-around;
  }

  /* discount section  */
  .discount {
    padding-bottom: 4rem;
    margin-block: 7rem;
  }
}
