@import url("./others/variables.css");

@import url("./others/css-reset.css");

@import url("./others/utilities.css");
/* imported  sections  css files  */
@import url("./sections/banner.css");
@import url("./sections/featured.css");
@import url("./sections/discount.css");
@import url("./sections/instagram.css");
/* media queries */
@import url("./mediaqueries/mediaqueries.css");
