.section-inline-padding {
  padding: 1rem 2rem;
}

.section-title {
  font-size: 1.8rem;
  font-size: clamp(1.8rem, 1.6600000000000001rem + 0.7vw, 2.5rem);
  font-weight: 800;
}

.section-description {
  font-weight: 400;
  /* line-height: 1.875rem; */
  line-height: 1.5rem;
  font-size: 1.125rem;
  color: var(--section-description-color);
}

.section-button {
  border: none;
  border-radius: 8px;
  color: var(--clr-pure-white);
  font: 700 1.25rem inherit;
  background: var(--clr-mild-red);
  padding: 1.25rem 2.688rem;
}

@media screen and (min-width: 576px) {
  .section-inline-padding {
    padding: 3rem 0 3rem 2rem;
  }
}

@media screen and (min-width: 768px) {
  .section-inline-padding {
    padding: 4rem 3rem;
  }
}

@media screen and (min-width: 992px) {
  .section-inline-padding {
    padding: 4rem 3.6rem 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-inline-padding {
    padding: 4rem 7rem 0;
  }
}

@media screen and (min-width: 1400px) {
  .section-inline-padding {
    padding: 12.5rem 15rem 0;
  }
}
